.circle { 
    text-align: center;
    align-items: center;
    align-self: center;
    height: 40px;
    width: 40px;
    color: white;
    background-color: rgb(100, 0, 100);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.create-club{
    display: grid;
    align-items: center;
    height: max-content;
    overflow-y: scroll;
    justify-content: center;
}
.step{
    background: rgb(255, 255, 255);
    margin-top: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75 ) ;
    padding: 20px;
    border-radius: 20px;

}
